<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> 
</head>
<style>

  img {
    height: auto;
    object-fit: cover;
    width: auto;
}
</style>
<body>

  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.ejs">
        <img src="/img/icone.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Loja de Info
      </a>
    </div>
  </nav>

  <div class="container">



    <div class="position-absolute top-50 start-50 translate-middle">
    <div class="card mb-3" style="max-width: 1000px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/img/mouse.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Mouse Gamer Redragon Reaping RGB, Preto, M987-K</h5>
              <p class="card-text">TCarcaça com design em colmeia ultraleve e cabo ultraleve
                Shape ergonômico e extremamente confortável até mesmo durante longos períodos de uso.
                Equipado com o sensor PIXART PWM 3327 o mouse Reaping eleva a sua experiência dentro dos games.
                Iluminação RGB Redragon Chroma Mk.II trazendo mais brilho para seu setup.
                Mouse feet de qualidade superior que oferece controle suave com baixo atrito e deslizamento consistente.</p>
              <p class="card-text"><small class="text-body-secondary">R$: 150,30</small></p>
            </div>
          </div>
        </div>
      </div>
</div>

  </div>





  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>