<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> 
</head>
<style>

  img {
    height: auto;
    object-fit: cover;
    width: auto;
}

a{
  text-align: center;
}
</style>
<body>

  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.ejs" >
        <img src="/img/icone.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Loja de Info
      </a>
    </div>
  </nav>

  <div class="container">



    <div class="position-absolute top-50 start-50 translate-middle">
    <div class="card mb-3" style="max-width: 1000px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/img/suporte de munitor.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Suporte para Monitor Duplo Husky Office - Articulado, Com pistão a gás, Para tela de 10" a 32" - HOFL001</h5>
              <p class="card-text">O suporte Husky vem com presilha tipo C para instalação em mesa, e comporta dois monitores de 10 até 32 polegadas. Possuem braços articulados com pistões a gás, que funcionam como amortecedores para ajustar perfeitamente os monitores na altura desejada, com movimentos leves e estabilizados.

 

                Personalize inclinação, extensão, altura e posição com a praticidade que o suporte oferece, para manter conforto durante longos períodos de uso e trabalho, além de manter a bancada organizada e os cabos escondidos, deixando o espaço de trabalho com tudo que precisa para o melhor desempenho.</p>
              <p class="card-text"><small class="text-body-secondary">R$: 214,28</small></p>
            </div>
          </div>
        </div>
      </div>
</div>

  </div>





  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>