<!DOCTYPE html>
<html>

<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<style>
  img {
    height: auto;
    object-fit: cover;
    width: auto;
  }
</style>

<body>

  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="./index.ejs">
        <img src="/img/icone.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Loja de Info
      </a>
    </div>
  </nav>

  <div class="container">



    <div class="position-absolute top-50 start-50 translate-middle">
      <div class="card mb-3" style="max-width: 1000px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/img/cadeira.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Cadeira Gamer Husky Gaming Hailstorm, Preto, Com Almofadas, Reclinável, Descanso de
                Braço 2D - HHA-BK</h5>
              <p class="card-text">Cadeira Gamer Husky Gaming Hailstorm - PretO
                A Cadeira Gamer Husky HailStorm oferece design arrojado e moderno, perfeito para que seu espaço gamer
                tenha a sua identidade. A Husky HailStorm possui Material PU em sua superfície, com densidade da espuma
                de 50kg/m³ no assento e 35kg/m³ no encosto, possibilitando máximo conforto ao usuário, ideal para quem
                passa horas se divertindo no mundo dos games. O tamanho do assento é de 400x470mm e do encosto é de
                580x850mm, ou seja, muito mais espaço para gamers que buscam robustez aliado à qualidade.
                Cadeira Gamer Reclinável:
                São diversas as vantagens da Cadeira Gamer Husky HailStorm: reclinagem de até 135º, regulagem de altura
                por pistão à gás e apoios de braço com regulagem pelo mecanismo butterfly - podem ser regulados para
                cima/baixo e esquerda/direita. Muito mais que estilo, todos esses ajustes proporcionam uma rica
                experiência que melhoram a performance durante as partidas.
                Conforto e Versatilidade:
                Para maximizar a sensação de conforto extremo, a cadeira conta com duas almofadas de apoio, no encosto e
                também no assento. Outro item fundamental são suas rodas, que foram desenvolvidas em 100% Nylon. Podem
                ser utilizadas em ambientes como escritórios, residências e lojas comerciais, proporcionando
                versatilidade para a cadeira. Muito conforto para você passar níveis difíceis no singleplayer, ou quando
                é preciso de muita atenção e foco nas partidas online como o League of Legends, Fortnite, CS:GO, Free
                Fire, em que cada ponto, conta! </p>
              <p class="card-text"><small class="text-body-secondary">R$: 7.599,00</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>





  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>